<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="ZenskarDB" connectionString="Server=localhost\SQLEXPRESS;Database=Zenskar_DB;Trusted_Connection=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient"/>-->
	<!--<add name="MongoDb" connectionString="mongodb+srv://ZenskarManager:Zenskar1234@testcluster.qaug7ra.mongodb.net/?appName=TestCluster"/>-->
	<add name="MongoDb" connectionString="mongodb+srv://ZenskarMasterUser:GurujiZen1234@zenskarcluster.wthf9xs.mongodb.net/"/>
  </connectionStrings>
</configuration>